
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #ed663d;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    color: #8b8483;
    margin-bottom: 15px;
}

p {
    font-size: 1.1em;
    color: #333;
}




/* Confirmation Page Styles */

.confirmation {
    text-align: center;
}

.order-summary, .customer-info {
    color: black;
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #c7bcb5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(183, 144, 131, 0.378);
}


a {
    display: inline-block;
    margin-top: 20px;
    background-color: #646261;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #a19c9a;
}
